body {
    font-family: 'Roboto', sans-serif; 
}

.bgblack {
    background-color: black;
}

.logo {
    width: 1.6rem;
}

.bgcolor {
    background-color: transparent !important;
}

.bgcolor.scrolled {
    background-color: rgba(0, 0, 0, 0.692) !important;
}

hr {
    height: 0px;
    border: none;
    border-top: 2px solid #25a2b7;
}

.iconos a {
    color: white;
}

.altura {
    height: 11.5rem;
}

@media screen and (max-width: 320px) {

    h1 {
        text-align: left;
        line-height : 2.9rem;
        padding-left: 0rem;
    }


    .altura {
        height: auto;
    }


}